<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>	
		<link rel="stylesheet" th:href="@{/css/error.css}" />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div id="error-container">
			<h1>Ou... Ou... Ou... um errinho te pegou!</h1>
			<div id="image" title="Erro image"></div>
	
			<!-- <h4 th:text="${errorMessage}"></h4> -->
			<span id="error-content">
				<h1 th:text="${status}"></h1>
				<span>|</span>
				<h4 th:text="${error}"></h4>
			</span>
		</div>
	</body>
</html>