<!DOCTYPE html>
<html>
	<head>
		<title>Comment - Formulário</title>
		<link rel="stylesheet" th:href="@{/css/formUser.css}" />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div th:switch="${mode}" id="form-card">
			<h1 th:case="'new'">Comment - Novo</h1>
			<h1 th:case="'change'">Comment - Editar</h1>
			<h1 th:case="'delete'">Comment - Excluir</h1>

			<form th:object="${comment}" id="form-add-user" method="post">
				<div class="row">
					<!-- <label for="id">ID</label> -->
					<input th:field="*{id}" hidden type="number" name="id" id="id" placeholder="ID" required>
				</div>
				
				<div class="row">
					<label for="id">ID do usuário (temporário)</label>
					<input th:field="*{user.id}" type="number" name="user_id" id="user_id" placeholder="ID do usuário" required>
				</div>
				
				<div class="row">
					<label for="type">Tipo</label>
					<select th:field="*{type}" name="type" id="type" placeholder="Tipo" required>
						<!--<option value="0">Publicação</option>-->
						<option value="1">Comentário</option>
					</select>
				</div>
				
				<div class="row">
					<label for="likes">Qtd. Likes</label>
					<input th:field="*{likes}" type="text" name="likes" id="likes" placeholder="Likes" required>
				</div>
				
				<div class="row">
					<label for="comments">Qtd. Comentários</label>
					<input th:field="*{comments}" type="text" name="comments" id="comments" placeholder="Comments" required>
				</div>
				
				<div class="row">
					<label for="message">Mensagem</label>
					<input th:field="*{message}" type="text" name="message" id="message" placeholder="Mensagem" required>
				</div>

				<button id="btn-submit" type="button" th:onclick="onSubmit([[${mode}]])">Enviar</button>
			</form>
		</div>
		
		<script th:inline="javascript">
			function getMethodByMode(mode) {
				switch(mode) {
					case "new":
						return "POST";
					break;
					
					case "change":
						return "PUT";
					break;
					
					case "delete":
						return "DELETE";
					break;
				}
			}
			
			function onSubmit(mode) {
				console.log("ele: ", document.getElementById("id").value);
				
				let formData = {
					"id": 		document.getElementById("id").value,
					"user": 	{ "id": document.getElementById("user_id").value },
					"type": 	document.getElementById("type").value,
					"likes": 	document.getElementById("likes").value,
					"comments": document.getElementById("comments").value,
					"message": 	document.getElementById("message").value,
				};
				
				formData = JSON.stringify(formData);
				
				const requestMethod = getMethodByMode(mode);
				const url = (requestMethod == "DELETE") ? `/api/comment/${JSON.parse(formData).id}` : "/api/comment";
				
				fetch(url, {
					method: requestMethod,
					headers: {
      					"Content-Type": "application/json"
               		},
               		body: formData
				})
					.then((response) => response.json())
					.catch((error) => console.error("Deu erro ali, meu nobre: " + error))
					.then((data) => {
						if(data.error) {
							console.error("Deu erro ali, meu nobre: " + error)
						} else {
							alert("Operação realizada com sucesso!");
						}
						
						//window.location.href = "/form/comments";
						//console.log("dados: ", data);
					});
			}
		</script>
	</body>
</html>