<!DOCTYPE html>
<html>
	<head>
		<title>Usuário - Formulário</title>
		<link rel="stylesheet" th:href="@{/css/formUser.css}" />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<div th:switch="${mode}" id="form-card">
			<h1 th:case="'new'">Usuário - Novo</h1>
			<h1 th:case="'change'">Usuário - Editar</h1>
			<h1 th:case="'delete'">Usuário - Excluir</h1>

			<form th:object="${user}" id="form-add-user" method="post">
				<div class="row">
					<!-- <label for="id">ID</label> -->
					<input th:field="*{id}" hidden type="number" name="id" id="id" placeholder="ID" required>
				</div>
				
				<div class="row">
					<label for="type">Tipo</label>
					<select th:field="*{type}" name="type" id="type" placeholder="Tipo" required>
						<option value="0">ADM</option>
						<option value="1">Usuário Normal</option>
						<option value="2">Usuário Reduzido</option>
					</select>
				</div>
				
				<div class="row">
					<label for="name">Nome</label>
					<input th:field="*{name}" type="text" name="name" id="name" placeholder="Nome" required>
				</div>
				
				<div class="row">
					<label for="username">Nome do usuário</label>
					<input th:field="*{username}" type="text" name="username" id="username" placeholder="Nome do usuário" required>
				</div>
				
				<div class="row">
					<label for="email">Email</label>
					<input th:field="*{email}" type="email" name="email" id="email" placeholder="Email" required>
				</div>
				
				<div class="row">
					<label for="password">Senha</label>
					<input th:field="*{password}" type="password" name="password" id="password" placeholder="Senha" required>
				</div>
				
				<div class="row">
					<label for="picture">Foto</label>
					<input th:field="*{picture}" type="text" name="picture" id="picture" placeholder="Foto" required>
				</div>
				<!--<div class="row">
					<label for="picture">Foto</label>
					<input type="file" name="picture" id="picture" placeholder="Foto" required>
				</div>-->
				
				<div class="row">
					<label for="wallpaper">Foto de fundo</label>
					<input th:field="*{wallpaper}" type="text" name="wallpaper" id="wallpaper" placeholder="Foto de fundo" required>
				</div>
				<!--<div class="row">
					<label for="wallpaper">Foto de fundo</label>
					<input type="file" name="wallpaper" placeholder="Foto de fundo" required>
				</div>-->
				
				<button id="btn-submit" type="button" th:onclick="onSubmit([[${mode}]])">Enviar</button>
			</form>
		</div>
		
		<script th:inline="javascript">
			function getMethodByMode(mode) {
				switch(mode) {
					case "new":
						return "POST";
					break;
					
					case "change":
						return "PUT";
					break;
					
					case "delete":
						return "DELETE";
					break;
				}
			}
			
			function onSubmit(mode) {
				console.log("ele: ", document.getElementById("id").value);
				
				let formData = {
					"id": document.getElementById("id").value,
					"type": document.getElementById("type").value,
					"name": document.getElementById("name").value,
					"username": document.getElementById("username").value,
					"email": document.getElementById("email").value,
					"password": document.getElementById("password").value,
					"picture": document.getElementById("picture").value,	
					"wallpaper": document.getElementById("wallpaper").value,
				};
				
				formData = JSON.stringify(formData)
				
				fetch("/api/user", {
					method: getMethodByMode(mode),
					headers: {
      					"Content-Type": "application/json"
               		},
               		body: formData
				})
					.then((response) => response.json())
					.catch((error) => console.error("Deu erro ali, meu nobre: " + error))
					.then((data) => {
						if(data.error) {
							console.error("Deu erro ali, meu nobre: " + error)
						} else {
							alert("Operação realizada com sucesso!");
						}
						
						//window.location.href = "/form/users";
						//console.log("dados: ", data);
					});
			}
		</script>
	</body>
</html>